node_modules

# Hardhat files
/cache
/artifacts
/ibc-token-bridge/node_modules

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Foundry files
/out
/cache_forge